/**
 * tailwind-config.css
 *
 * CSS-based configuration for Tailwind CSS
 * ref: https://tailwindcss.com/docs/theme
 */

@source "../../templates/**/*.{html,twig}";

@theme {
    --font-sans: InterVariable, sans-serif;
}
